<h2 class="ui center aligned icon header">
  <i class="inverted orange circular coffee icon"></i>

  Friends
</h2>

<%= render 'layouts/flash' %>

<div class="ui two column grid">
    <div class="ten wide column">
		<div class='ui fluid raised card chatbox'>
			<div class="content"> 

				<div class="ui feed">
				  	<%= render @messages %>
				</div>
			</div>
			

			<div class="extra content">
				<form class="ui reply form">
				  <div class="field">
					<div class="ui fluid icon input">
						<input type='text' placeholder="Enter a message">
						<i class="bordered inverted orange edit icon"></i>
					</div>
				  </div>
				</form>
			</div>


		</div>	




    </div>

    <div class="six wide column">
		<div class='ui fluid raised card chatbox'>
			<div class="content"> 
				<div class="ui inverted vertical menu s-menu">
				  <a class="active item">
				    Home
				  </a>
				  <a class="item">
				    Messages dssf sdf sdfsdf sdfsd sdf sdfsdf sdf
				  </a>
				  <a class="item">
				    Friends
				  </a>
				</div>
			</div>


		</div>
		






    </div>
 
</div>

