@import "semantic-ui";



.chatbox {
	
	height: 450px;
}

.flash-space {
	
	height: 120px;
}

.log-in {
	margin-top: 25px !important;
}

.signup {
	margin-left: auto;
    margin-right: auto
}

#messages {
	height:15em;
	overflow:auto;
}

#signle-link{
	color:red;
}